<template>
    <h1>Globe</h1>
    <div id="map">
        <div id="feedback" class="shadow">
            <h3>Geodesic buffers of data in a webmap from ArcGIS.com</h3>
            <div id="info">
                <div id="note">
                    The areas in gray are 2,000 kilometers from a recent magnitude 5 earthquakes. Geodesic buffers (as opposed to Euclidean)
                    are used to show a more accurate areas.
                </div>
            </div>
        </div>
    </div>

</template>