.header {
  background-color: mediumaquamarine;
}
.body {
  flex: 1 0;
  overflow: hidden;
}
.nav {
  display: flex;
  flex-direction: column;
  background-color: lightseagreen;
}
.nav-body {
  margin: 0;
  padding: 0;
  flex: 1 0;
  position: relative;
  overflow: hidden;
}
.nav-toolbar {
  background-color: cadetblue;
}
.nav-host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.main {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}
.main-toolbar {
  background-color: cadetblue;
}
.main-body {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  flex: 1 0;
}
.main-host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.alt {
  display: flex;
  flex-direction: column;
  background-color: darkcyan;
}
.alt-toolbar {
  background-color: cadetblue;
}
.alt-body {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  flex: 1 0;
}
.alt-host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
